<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h3>This is <%= title %></h3>
    <br>
    <form action="/add-item" method="post">
        <input type="text" name="name" placeholder="Name">
        <br><br>
        <input type="text" name="mark" placeholder="Mark">
        <br><br>
        <input type="submit" value="ADD">
        <br><br>
        <% for(var i=0;i<data.length;i++){%>
            <%= data[i].name %>
            <%= data[i].mark %>
            <br>
            <p><a href="/display/<%= data[i].id %>">Display</a></p>
        <% } %>
    </form>
</body>
</html>