<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aunthentication with auth0</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-light">
        <a class="navbar-brand">Welcome-Auth0</a>
        <form action="" class="form-inline">
            <% if(!isAuthenticated){ %>
                <a href="/login" class="btn btn-success">LOGIN</a>
            <% } else { %>
                <a href="/logout" class="btn btn-danger">LOGOUT</a>
            <% } %>
        </form>
    </nav>

    <% if(!isAuthenticated){ %>
        <div class="row d-flex justify-content-center">
            <h3>you are not logged in</h3>
        </div>
    <% } else { %>
        <div class="row d-flex justify-content-center">
            <h3>you are logged in</h3>
        </div>
    <% } %>    
    
</body>
</html>